/* -----------------------------------
 *
 * Body
 *
 * -------------------------------- */

body {
  font-family: 'Poppins', sans-serif;
  padding: 5rem 0 0;
  margin: 0;
}

/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* -----------------------------------
 *
 * H1
 *
 * -------------------------------- */

h1 {
  margin: 0 0 1.5em;
}

h1 em {
  color: #999;
  font-style: normal;
}

/* -----------------------------------
 *
 * Hr
 *
 * -------------------------------- */

hr {
  border: 0;
  border-top: 2px solid #b6b6b6;
  margin: 3rem 0;
  outline: none;
}
