---
import Form from "../components/form.astro";
import { Button } from '../components/button.tsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/template.css')} />
		<style>
			/*[...]*/
		</style>
	</head>
	<body>
		<div class="container">
			<h1>Example <em>Astro.build</em></h1>
			<Form titleText="Example Form" className="form" />
			<hr />
			<Button client:idle className="button">Click Me!</Button>
		</div>
	</body>
</html>
